* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-color: black;
}

.card-cont {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 1em;
}

.card {
    width: 18em;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.card-text {
    font-weight: bold;
}

p::before {
    content: '-';
}

span {
    text-transform: uppercase;
    color: rgb(140, 13, 13);
}